.clearfix {
  clear: both;
}

.section-form {
  width: 80%;
  margin-top: 80px;
  margin: 80px auto 30px auto;
  padding: 20px 50px;
  background: #2d2d2d;
  color: #ffffff;
  font-size: 1.2em;
}

.section-form .col {
  float: left;
}

.section-form .col.intro {
  width: 60%;
}

.section-form .col.intro img {
  width: 30%;
}

.section-form .col.intro .inner {
  padding: 0 10px;
}

.section-form .col.form {
  width: 40%;
}

.form .inner {
  background: #333333;
  padding: 20px;
}

.section-form .col.form label {
  display: block;
}
