body {
  margin: 0;
  padding: 0;
  background: #000000;
  border-top: 4px solid #518D8A;
  font-family: Verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #555;
  text-align: left;
}

a:link, a:visited {
    color: #08C;
    text-decoration: none;
}

a:hover, a:active {
    color: #005580;
    text-decoration: underline;
}

.clearfix {
  clear: both;
}

.container { min-width: 940px; }


.section-form {
  width: 80%;
  margin-top: 80px;
  margin: 80px auto 0 auto;
  padding: 20px 50px;
  background: #2d2d2d;
  color: #ffffff;
  font-size: 1.2em;
}

.intro {
  margin-right: 500px;
}

.intro img {
  width: 30%;
  min-width: 150px;
}

.intro .inner {
  padding: 0 10px;
}

.form {
  width: 450px;
  float: right;
}

.form h1 {
  margin-top: 0;
}

.form .inner {
  background: #333333;
  padding: 20px;
}

.form label {
  display: block;
  margin-bottom: 20px;
}

.form label .name {
  display: inline-block; /* FIXME: IE6 */
  width: 90px;
  padding-right: 5px;
  padding-top: 7px;
  vertical-align: top;
  text-align: right;
}

.form .input {
  padding: 8px 15px;
  border: none;
  background: #222222;
  color: #aaaaaa;
  width: 250px;
}

.form .required {
  color: #AC4A4A;
}

.form-actions {
  padding-left: 100px;
}

#btn-submit {
  padding: 5px 20px;
  font-size: 1.2em;
  line-height: 1.2em;
  background: #F8E901;
  text-decoration: none;
  color: #222;
}

#btn-submit:hover {
  background: #222;
  color: #FFF;
}

.section-detail {
  font-size: 1.1em;
  background: #F8F8F8 url(pattern.jpg);
  text-align: center; /* IE6 */
}

.inner-detail {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  text-align: left; /* IE6 */
}

.section-detail h1 span {
  border-bottom: 1px dotted #aaaaaa;
  padding-bottom: 5px;
}

.schools ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  zoom: 100%;
}

.schools ul li {
  float: left;
  width: 24.9%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}

.schools ul li a {
  display: block;
  background: #ECECEC;
  padding: 0px 10px;
  margin: 3px;
  text-decoration: none;
  color #555555;
}
.schools ul li a:link { color: #555555; }  
.schools ul li a:visited {color: #555555; }
.schools ul li a:hover { color: #555555; background: #e2e2e2; text-decoration: none; }
.schools ul li a:active { color: #555555; }

.footer {
  font-size: .8em;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}

.footer a, footer span {
    margin: 0 10px;
}
